#rooms-table-container {
  min-width: 200px;
  min-height: 200px;
  max-height: 100%;
  display: flex;
}

table {
  width: 100%;
  align-self: start;
  overflow-y: scroll;
}

th {
  min-width: 100px;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
