
<b matDialogTitle>Password reset</b>
<mat-dialog-content>
  <p>Please enter your login email to receive a reset password link. Thank you</p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email">
    <mat-dialog-actions align="end">
    <button mat-flat-button type="submit" value="email">Submit</button>
    </mat-dialog-actions>
  </div>
  </form>
</mat-dialog-content>




