
<b matDialogTitle>Password reset</b>
<mat-dialog-content>
  <p>Please enter your username to receive a reset password link. Thank you</p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(($event))">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" formControlName="username">
    <mat-dialog-actions align="end">
    <button mat-flat-button type="submit" value="username">Submit</button>
    </mat-dialog-actions>
  </div>
  </form>
</mat-dialog-content>




