<b matDialogTitle>Password reset</b>
<mat-dialog-content>
  <div>
    <div *ngIf="data.id === null; else newPassword">
    <p>Please enter your username to receive a reset password link. Thank you</p>
    <form>
    <div>
      <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput type="text" id="username" name="username" [formControl]="usernameControl">
      </mat-form-field>
      <button mat-flat-button type="button" name="username" (click)="resetPassword(true)">Submit</button>
    </div>
    </form>
  </div>
    <ng-template #newPassword>
      <p>Please enter your new password.</p>
      <form>
        <div>
          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" id="newPassword" name="newPassword" [formControl]="passwordControl">
          </mat-form-field>
          <button mat-flat-button type="button" name="password" (click)="resetPassword(false)" >Submit</button>
        </div>
      </form>
    </ng-template>
  </div>
</mat-dialog-content>


<!--Need to check if UUID exists -->

<!--<div id="panels-container" [ngClass]="this.isUuid ? 'justify-content-around' : 'justify-content-end'" class="container">-->

<!--<form *ngIf="this.isUuid" class="sign-up-form" [formGroup]="signupForm" (ngSubmit)="signup($event)">-->

<!--Need to check if UUID not exists -->
<!--<form *ngIf="this.isUuid" class="sign-up-form" [formGroup]="signupForm" (ngSubmit)="signup($event)">-->





