<mat-card>
  <mat-card-header>
    <mat-card-title>Booking Overview</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <bookings-table #bookingsTableComponent></bookings-table>
  </mat-card-content>
  <mat-card-actions align="end">
    <mat-form-field matTooltip="Select a customer to make a booking" matTooltipClass="bg-danger" [matTooltipDisabled]="customerControl.valid" appearance="outline">
      <mat-label>Customer</mat-label>
      <input type="text"
             aria-label="Number"
             matInput
             [formControl]="customerControl"
             [matAutocomplete]="customerAuto">
      <button mat-icon-button matSuffix (click)="makeBooking()" [disabled]="customerControl.invalid">
        <mat-icon>add</mat-icon>
      </button>
      <mat-autocomplete [displayWith]="getOptionDisplay" autoActiveFirstOption #customerAuto="matAutocomplete" (optionSelected)='selectOption($event)'>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.username}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-actions>
</mat-card>
