<main class="d-flex justify-content-start align-items-center vh-100 vw-100">
  <div id="login-container" [ngClass]="signupMode ? 'sign-up-mode' : ''" class="container p-0 position-relative d-flex rounded shadow-lg">
    <div class="wrapper top-0 left-0 position-absolute w-100 h-100 d-flex align-items-center justify-content-around">
      <form action="" class="sign-in-form">
        <h1 class="title">Sign in</h1>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
        <button mat-flat-button type="submit" value="login">Sign in</button>
        <p class="social-text">Or sign in with social platform</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </button>
          </a>
          <a href="#" class="social-icon">
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </button>
          </a>
          <a href="#" class="social-icon">
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <fa-icon [icon]="faGoogle"></fa-icon>
            </button>
          </a>
            <a href="#" class="social-icon">
              <button mat-icon-button aria-label="Example icon button with a home icon">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </button>
            </a>
        </div>
      </form>

      <form action="" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password">
          <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput>
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <button mat-flat-button type="submit" value="register">Sign up</button>
        <p class="social-text">Or sign up with social platform</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </button>
          </a>
          <a href="#" class="social-icon">
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </button>
          </a>
          <a href="#" class="social-icon">
            <button mat-icon-button aria-label="Example icon button with a home icon">
              <fa-icon [icon]="faGoogle"></fa-icon>
            </button>
          </a>
            <a href="#" class="social-icon">
              <button mat-icon-button aria-label="Example icon button with a home icon">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </button>
            </a>
        </div>
      </form>
    </div>

    <div class="container panels-container position-absolute top-0 left-0 w-100 h-100 d-flex align-items-center justify-content-around">
      <div class="panel left-panel">
        <div class="content">
          <h2>Member of Brand?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida quam non ex iaculis, quis semper nulla hendrerit. Sed id ultrices metus. Ut non dui leo. Nulla molestie, eros ut cursus vulputate, libero turpis molestie erat, sit amet varius odio sem pharetra mauris. Sed ac vulputate nulla. Ut sit amet mollis lorem. Vivamus arcu arcu, porttitor ac ornare ac, facilisis quis odio. Curabitur fermentum lectus nec vestibulum euismod. Vestibulum eleifend nec nulla vel accumsan. Sed sollicitudin maximus auctor. Morbi congue lectus quis est iaculis, quis iaculis lorem lacinia. Vivamus sit amet risus turpis. Nulla id turpis in dui lacinia euismod dignissim ut risus.
          </p>
          <button mat-flat-button id="sign-in-toggle" (click)="toggleMode(false)">Sign in</button>
        </div>
        <img class="mt-5" src="assets/images/travel.svg" alt=""/>
      </div>

      <div class="panel right-panel">
        <div class="content">
          <h2>New to Brand?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida quam non ex iaculis, quis semper nulla hendrerit. Sed id ultrices metus. Ut non dui leo. Nulla molestie, eros ut cursus vulputate, libero turpis molestie erat, sit amet varius odio sem pharetra mauris. Sed ac vulputate nulla. Ut sit amet mollis lorem. Vivamus arcu arcu, porttitor ac ornare ac, facilisis quis odio. Curabitur fermentum lectus nec vestibulum euismod. Vestibulum eleifend nec nulla vel accumsan. Sed sollicitudin maximus auctor. Morbi congue lectus quis est iaculis, quis iaculis lorem lacinia. Vivamus sit amet risus turpis. Nulla id turpis in dui lacinia euismod dignissim ut risus.
          </p>
          <button mat-flat-button (click)="toggleMode(true)">Sign up</button>
        </div>
        <img class="mt-5" src="assets/images/registration.svg" alt=""/>
      </div>
    </div>
  </div>
</main>
