main {
  background-image: url("/assets/images/city-skyline.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login-container {
  background-color: var(--glassmorphism-accent-high);
  -webkit-backdrop-filter: var(--glassmorphism-blur);
  backdrop-filter: var(--glassmorphism-blur);
  width: 70vw;
  height: 80vh;
  overflow: hidden;
}

#login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(80deg, var(--glassmorphism-accent-low), var(--glassmorphism-primary-low), var(--glassmorphism-accent-low));
  z-index: 6;
  transform: translateX(100%);
  transition: 1s ease-in-out;
}

.wrapper {
  z-index: 5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-width: 238px;
  padding: 0 10px;
}

form.sign-in-form {
  opacity: 1;
  transition: 0.5s ease-in-out;
  transition-delay: .8s;
}

form.sign-up-form {
  opacity: 0;
  transition: 0.5s ease-in-out;
  transition-delay: 0s;
}

.title {
  color: white;
  margin-bottom: 15px;
  text-transform: capitalize;
}

form button[type="submit"],
.panels-container button {
  font-size: 10px;
  color: white;
  text-transform: capitalize;
  transform: scale(1.2);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  color: white !important;
  opacity: 1 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--secondary2) !important;
}

.social-text {
  margin: 25px 0 0 0;
  text-align: center;
  color: white;
}

.social-media {
  display: flex;
  color: white;
  justify-content: space-between;
}

button {
  text-transform: uppercase;
}

a.social-icon {
  color: white;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  min-width: 238px;
  padding: 0 10px;
  text-align: center;
  z-index: 6;
  color: white;
}

.panel p {
  padding: 10px 0;
}

.left-panel {
  pointer-events: none;
}

.content {
  transition: 1s ease-in-out;
  transition-delay: 0.3s;
}

img {
  width: 100%;
  transition: 1s ease-in-out;
  transition-delay: 0.2s;
}

.left-panel img,
.left-panel .content {
  transform: translateX(-200%);
}

.right-panel img,
.right-panel .content {
  transform: translateX(0);
}

/* ====== Animations happens on class sign-up-mode toggle ====== */

#login-container.sign-up-mode::before {
  transform: translateX(0);
}

#login-container.sign-up-mode .right-panel img,
#login-container.sign-up-mode .right-panel .content {
  transform: translateX(200%);
}

#login-container.sign-up-mode .left-panel img,
#login-container.sign-up-mode .left-panel .content {
  transform: translateX(0);
}

#login-container.sign-up-mode form.sign-in-form {
  transition-delay: 0s;
  opacity: 0;
}

#login-container.sign-up-mode form.sign-up-form {
  transition-delay: .8s;
  opacity: 1;
}

#login-container.sign-up-mode .right-panel {
  pointer-events: none;
}

#login-container.sign-up-mode .left-panel {
  pointer-events: all;
}
