mat-stepper {
  background: transparent;
  width: max-content;
  max-width: 900px;
}

mat-step form {
  margin: 10px 0 10px 0;
}

.review-pair {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
