/* You can add global styles to this file, and also import other style files */

@import url('swiper/swiper-bundle.css');

:root {
  /* Transparency */
  --transparency-high: .2;
  --transparency-med: .5;
  --transparency-low: .7;

  --primary: #E91E63;
  --secondary1: #C2185B;
  --secondary2: #AD1457;
  --accent: #B0BEC5;
  --dark: #303030;

  /* GLASS-MORPHISM */
  --glassmorphism-primary-high: rgba(233, 30, 99, var(--transparency-high));
  --glassmorphism-primary-low: rgba(233, 30, 99, var(--transparency-low));
  --glassmorphism-accent-high: rgba(176, 190, 197, var(--transparency-high));
  --glassmorphism-accent-low: rgba(176, 190, 197, var(--transparency-low));
  --glassmorphism-dark-med: rgba(48, 48, 48, var(--transparency-med));
  --glassmorphism-dark-high: rgba(48, 48, 48, var(--transparency-high));

  --glassmorphism-blur: blur(12px);

  /* Customer module variables */
  --side-nav-width: 10rem;
  --booking-card-transition: all 1s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mat-dialog-container {
  background-color: var(--glassmorphism-accent-high);
  -webkit-backdrop-filter: var(--glassmorphism-blur);
  backdrop-filter: var(--glassmorphism-blur);
}

mat-form-field {
  color: white;
}

/*::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{*/
/*  color: white !important;*/
/*  opacity: 1 !important;*/
/*}*/

/*::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {*/
/*  color: var(--secondary2) !important;*/
/*}*/
