/* You can add global styles to this file, and also import other style files */

@import url('swiper/swiper-bundle.css');

:root {
  /* Transparency */
  --transparency-high: .2;
  --transparency-med: .5;
  --transparency-low: .7;

  /* STAFF MODULE COLOURS */
  --staff-primary: #FF5722;
  --staff-secondary: #E64A19;
  --staff-ternary: #D84315;
  --glass-staff-primary-high: rgba(255, 87, 34, var(--transparency-high));
  --glass-staff-primary-low: rgba(255, 87, 34, var(--transparency-low));

  /* CUSTOMER MODULE COLOURS */
  --customer-primary: #E91E63;
  --customer-secondary: #C2185B;
  --customer-ternary: #AD1457;
  --glass-customer-primary-high: rgba(233, 30, 99, var(--transparency-high));
  --glass-customer-primary-low: rgba(233, 30, 99, var(--transparency-low));

  --accent: #B0BEC5;
  --dark: #303030;
  --glass-accent-high: rgba(176, 190, 197, var(--transparency-high));
  --glass-accent-low: rgba(176, 190, 197, var(--transparency-low));
  --glass-dark-low: rgba(48, 48, 48, var(--transparency-low));
  --glass-dark-med: rgba(48, 48, 48, var(--transparency-med));
  --glass-dark-high: rgba(48, 48, 48, var(--transparency-high));

  --glassmorphism-blur: blur(12px);

  /* Customer module variables */
  --side-nav-width: 10rem;
  --booking-card-transition: all 1s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

staff {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  min-width: 100vw;
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: var(--accent);
}

.mat-dialog-container {
  background-color: var(--glass-accent-high);
  -webkit-backdrop-filter: var(--glassmorphism-blur);
  backdrop-filter: var(--glassmorphism-blur);
}

mat-form-field {
  color: white;
}

.table-action {
  max-width: 50px;
}
.table-data{
  min-width: 100px;
}

/*::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{*/
/*  color: white !important;*/
/*  opacity: 1 !important;*/
/*}*/

/*::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {*/
/*  color: var(--secondary2) !important;*/
/*}*/
